@{
    ViewBag.Title = "Home Page";
}

<!-- BEGIN PAGE CONTENT -->
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="row">
        @if (!string.IsNullOrEmpty(System.Configuration.ConfigurationManager.AppSettings["Application.Environment"]) && !System.Configuration.ConfigurationManager.AppSettings["Application.Environment"].Contains("PROD"))
        {
            <div class="col-md-12">
                <p>Principal Name: @User.Identity.Name</p>
                <p>Is authenticated? @User.Identity.IsAuthenticated</p>
                <p>Authentication Type: @User.Identity.AuthenticationType</p>
                <p>Actions: @string.Join(", ", User.Actions)</p>
                <p>Permissions: @string.Join(", ", User.Permissions)</p>
                <p>Roles: @string.Join(", ", User.Roles)</p>
                <p>
                    <label for="Action">Can Administer via Action</label> @Html.CheckBox("Action", User.HasAction("AdministerOwn,AdministerAll"), new { disabled = true })
                    <label for="Permission">Can Administer via Permission</label> @Html.CheckBox("Permission", User.HasPermission("Administer,AdministerAll"), new { disabled = true })
                    <label for="Role">Can Administer via Role</label> @Html.CheckBox("Role", User.IsInRole("Administrator,System Administrator"), new { disabled = true })
                </p>
            </div>
        }
    </div>  
</body>
</html>
<!-- END PAGE CONTENT -->